
<div class="d-flex align-items-center justify-content-between" style="height: 140px; background-color: #ffffff;">
  <div class="text-center ms-5 mt-4 col-2" >
  <i class="fa-solid fa-phone" style="color: #C0742A; margin-right: 8px;"></i>
  <span class="fw-semibold">Contact Us:</span><br>
  <b style="color: #804343;"> 9901853539</b>
</div>

    
  <img 
    src="/assests/logo1.png" 
    alt="Roopa Shilpa Logo"
    class="d-block mx-auto"
    style="max-height: 150px; object-fit: contain;"
  />
  
  
 <div class="d-flex gap-5 fs-5 justify-content-center mt-3 ms-3" style="margin-right: 4rem;">
  <a href="https://www.instagram.com" style="color: #804343;">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://wa.me/1234567890" style="color: #804343;">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <a href="mailto:example@gmail.com" style="color: #804343;">
    <i class="fa-regular fa-envelope"></i>
  </a>
</div>
</div>


<nav class="navbar navbar-expand bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    
      <div class="navbar-nav w-100 justify-content-evenly">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">Works</a>
        <a class="nav-link" href="/listings">Awards</a>
        <a class="nav-link" href="/listings">Journal</a>
        <a class="nav-link" href="/listings">Contact Us</a>
        <a class="nav-link" href="/listings/new">Custom Order</a>
        
    </div>
  </div>
</nav>