<% layout("/layouts/boilerplate") %>

<section class="about" style="background-image: url(./assests/about_page1.jpeg) ; width:100% ; height:500px; background-size: cover; background-position: center; text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7); color: white;">
    <div class="container lead">
        <div class="row align-items-center">
            <div class="col-md-6 about-text lead">
                <h3 class="hero-subtitle mb-1" style="color: azure;">Sculptor</h3>
                <h1 class="hero-title sedan-regular ">T Pankajaksha</h1>
                <p>A renowned sculptor whose deep passion for art has shaped a lifetime of creative mastery. An acclaimed artist and author, his work blends tradition with soulful expression. He has received numerous honors, including the prestigious Award, celebrating his remarkable contributions to the world of sculpture.</p>
                <p class="mt-4 small opacity-75" style="color: #b7be5d;">Discover more →</p>
            </div>
    </div>
</section>

<!-- Latest Publish Section -->
<section class="py-5 bg-dark text-light">
    <div class="container text-center">
        <h2 class="mb-4">Shilpa Soundarya</h2>
        <p>Reflecting on his journey from humble beginnings to literary success.</p>
        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <div class="book-img">
                <img src="./assests/about_page_book.jpeg" class="img-fluid mb-3" alt="Latest Book" style="height:250px; ">
                <img src="./assests/about_page_book2.jpeg" class="img-fluid mb-3" alt="Latest Book" style="height:250px; ">
                <h5>Kargundha T Pankajaksha</h5>
                <p>Mastery Award Winner</p>
            </div>
        </div>
    </div>
</section>

<!-- Featured Books -->
<section class="books py-5">
    <div class="container">
        <h2 class="text-center mb-5">Awards</h2>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card">
                    <img src="./assests/awards/award1.jpeg" class="card-img-top" alt="Fading Dreams" >
                    <div class="card-body text-center">
                        <h5 class="card-title">Karnataka State Award</h5>
                        <p class="card-text">For Dharpana Sundari Wooden sculpture</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assests/awards/award2.jpeg" class="card-img-top" alt="Awakening">
                    <div class="card-body text-center">
                        <h5 class="card-title">Canara bank Honour</h5>
                        <p class="card-text">For Lord Krishna</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="./assests/awards/award3.jpeg" class="card-img-top" alt="What Comes">
                    <div class="card-body text-center">
                        <h5 class="card-title">Kempegowda award</h5>
                        <p class="card-text">2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>