* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


.marcellus-regular {
  font-family: "Marcellus", serif !important;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  min-height: 100vh;
}



.container {
  flex: 1;
}


.navbar {
  height: 4.8rem;
  font-size: 1.1rem;
  background-color: #ffffff;
  
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links {
  width: 100%;
}

.f-info-socials {
  width: 100%;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: antiquewhite;
  align-items: space-evenly;
}

/* Cards  */
.listings-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
        text-decoration: none;
        color: #444;
    }

/* Card  effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color : white;

}

.add-btn {
  background-color: #fe424d;
  border: none !important;
}
    
.edit-btn {
  background-color: #fe424d;
  border: none !important;

}

.show-img{
  height : 30vh;
}

.btns {
  display : flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}



/* about */
section {
  scroll-margin-top: 80px;
}

.lead {
  line-height: 1.7;
}

.customOrder-div{
  background: rgba(183, 190, 93, 0.88);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
}

/* Main content */
    .main-section {
      padding: 3rem 1rem;
    }

    .card-custom {
      background-color: #fffaf2;
      border: none;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
      padding: 2rem;
    }

    .heading {
      font-weight: 700;
      color: #3c2e25;
    }

    .btn-maroon {
      background-color: #703c2e;
      color: #fff;
      font-weight: 500;
      border-radius: 6px;
    }

    .btn-maroon:hover {
      background-color: #5b2d22;
    }

    label {
      font-weight: 600;
      color: #3c2e25;
    }

    .artist-card {
      background-color: #fffaf2;
      border-radius: 12px;
      padding: 1.5rem;
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
      margin-top: 1.5rem;
    }





